server:
  port: 9090
spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true  # 开启自动服务发现
      routes:
        - id: cloud-producer
          uri: lb://cloud-producer
          predicates:
            - Path=/cloud-producer/**
          filters:
            - StripPrefix=1
        - id: cloud-consumer
          uri: lb://cloud-consumer
          predicates:
            - Path=/cloud-consumer/**
          filters:
            - StripPrefix=1
        - id: cloud-user
          uri: lb://cloud-user
          predicates:
            - Path=//cloud-user/**
          filters:
            - StripPrefix=1
        - id: cloud-user-docs
          uri: lb://cloud-user
          predicates:
            - Path=/cloud-user/v3/api-docs
        - id: cloud-consumer-docs
          uri: lb://cloud-consumer
          predicates:
            - Path=/cloud-consumer/v3/api-docs
        - id: cloud-producer-docs
          uri: lb://cloud-producer
          predicates:
            - Path=/cloud-producer/v3/api-docs
    loadbalancer: #开启负载均衡
      nacos:
        enabled: true
      retry:
        enabled: true # 启用负载均衡重试机制 负载均衡策略默认为轮询，想要修改策略新版本中需要手动java代码配置，新版本中配置文件的方式不支持了,更灵活但略复杂

springdoc:
  swagger-ui:
    urls:
      - name: 生产者服务
        url: /cloud-producer/v3/api-docs
      - name: 消费者服务
        url: /cloud-consumer/v3/api-docs
      - name: 用户服务
        url: /cloud-user/v3/api-docs

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.nacos.discovery: DEBUG

global:
  switch:
    user-header-filter:
      enabled: false


